<h2 class="mb-5">Create</h2>
<form [formGroup]="accessLogFormGroup" (ngSubmit)="save()">
<div class="row">
  <div class="form-group col-md-6">
    <label for="userAgent">User Agent</label>
    <textarea formControlName="userAgent" class="form-control" id="userAgent" required placeholder="User Agent"></textarea>
    <small  *ngIf="submitted && accessLogFormGroup.get('userAgent').hasError('required')" class="text-danger form-text">Required field</small>
  </div>
  <div class="form-group col-md-6">
    <label for="requestLine">Request Line</label>
    <textarea formControlName="requestLine" type="text" class="form-control" required id="requestLine" placeholder="Request Line"></textarea>
    <small  *ngIf="submitted && accessLogFormGroup.get('requestLine').hasError('required')" class="text-danger form-text">Required field</small>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-4">
    <label for="ipAddress">IP Address</label>
    <input formControlName="ipAddress" type="text" required  class="form-control" id="ipAddress" placeholder="IP Address">
    <small  *ngIf="submitted && accessLogFormGroup.get('ipAddress').hasError('required')" class="text-danger form-text">Required field</small>
  </div>
  <div class="form-group col-md-4">
    <label for="occurrenceDate">Occurrence date</label>
    <input formControlName="createdAt" required selectMode="single" [owlDateTime]="createRange" [owlDateTimeTrigger]="createRange" class="form-control" id="occurrenceDate" placeholder="Occurrence date"/>
    <owl-date-time #createRange></owl-date-time>
    <small  *ngIf="submitted && accessLogFormGroup.get('createdAt').hasError('required')" class="text-danger form-text">Required field</small>
  </div>
  <div class="form-group col-md-4">
    <label for="responseStatus">Response Status</label>
    <input formControlName="responseStatus" type="number" class="form-control" required id="responseStatus" placeholder="Response Status">
    <small  *ngIf="submitted && accessLogFormGroup.get('responseStatus').hasError('required')" class="text-danger form-text">Required field</small>
  </div>
</div>
<div class="float-right">
  <button class="btn btn-green" type="submit">Save</button>
</div>
</form>
<div class="row col-12">
  <div  *ngIf="showSuccessAlert" class="mt-4 w-100 alert alert-success alert-dismissible" role="alert">
    <strong>Access Log</strong> Created with Success!
    <button (click)="showSuccessAlert = false" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

