@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

p {
  margin: 0;
}

.active {
  font-weight: 700;
  text-decoration: underline !important;
}
